node_modules
uploads
eng.traineddata
#main website files
# node_modules

# libs
# ios
# fonts
# api
# *.html
# *.png
# *.js
# !server.js
# *.gif
# *.css
# icons.json
# manifest.json
# c
# vercel.json
#sw.js
